
body {
background-image: url("tunnel.jpg");
background-size: cover;
}

img {
  height: auto;
  width: 150px;

}

h1 {
  outline: solid grey;
  color: grey;
  margin: 20px;
  background-color: black;
  ;
  
}

col {
  outline-style: solid;
}

div {
  font-family:"Oswald";
  outline-style: solid;
  outline-width: 1px;
  color: silver;
  
}
